body {
    margin: 0;
    padding: 0;

}

.img {
    width: 169px;
    transform: translateX(264px) translateY(-943px);
}

.container {
    width: 100%;
    height: 100vh;
    background-image: url('BG.jpg');
    filter: brightness(60%);
    background-size: cover;
}

.wrapper {
    width: 100%;
    height: 100vh;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.card {
    width: 430px;
    height: 690px;
    background-color: rgba(14, 13, 13, 0.917);
    border: 1px solid black;
    backdrop-filter: blur(7px);
    display: flex;
    position: absolute;
}

.top {
    width: 100%;
    height: 70px;
    margin-top: -19px;
}


.heading {
    display: flex;
    font-family: sans-serif;
    color: white;
    margin-left: 50px;
    margin-top: 58px;
    font-weight: 10px;
    font-size: 32px;

}

.details {
    width: 100%;
    height: 200px;
    justify-content: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input {
    width: 75%;
    height: 30px;
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.66);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(5px);
    color: white;
    font-size: 14px;
    padding: 13px;

}

.btn {
    width: 82%;
    height: 45px;
    margin-left: 36px;
    margin-top: -15px;
    border: 0;

    color: white;
    background: rgba(255, 3, 3, 0.956);
    border-radius: 5px;
    font-size: 18px;
}

.btn:hover {
    color: rgb(251, 251, 251);
    background-color: rgba(208, 5, 5, 0.908);
}

.opt {
    color: rgba(255, 255, 255, 0.764);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
}

.btn2 {
    width: 82%;
    height: 45px;
    margin-left: 36px;
    margin-top: -2px;
    border: 0;

    color: white;
    background: rgba(229, 220, 220, 0.155);
    backdrop-filter: blur(7px);
    border-radius: 5px;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.opt2 {
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;

}

.check {
    width: 100%;
    height: 25px;
    color: white;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    margin-left: 35px;

}

.opt3 {
    color: rgba(255, 255, 255, 0.764);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    font-size: 15px;

    margin-left: -158px;
    margin-block-start: auto
}

.sign {
    color: rgb(255, 255, 255);
    font-style: bold;
    font-family: sans-serif;
    font-size: 17px;

}

.end {
    position: absolute;
    margin-top: -19px;
    color: rgb(125, 119, 119);
    font-size: 14px;
    margin-left: 37px;
    margin-right: 57px;
    font-family: sans-serif;
    font-weight: 100;
}