body {
    margin: 0;
    padding: 0;
    background: #fff;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.google {
    position: relative;
    width: 333px;
    top: -220px;
}

.search {
    width: 500px;
    height: 45px;
    position: absolute;
    transform: translate(-20px, 50%);
}

input[type="text"] {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #d5d4d4;
    left: 0;
    border-radius: 50px;
    padding: 0 40px 0 45px;
    outline: none;
    box-shadow: 0 2px 10px -7px #000;
    font-size: 16px;
    font-family: sans-serif;
    margin-left: -446px;
    margin-top: -103px;
}

.icon1 {
    position: absolute;
    width: 23px;
    transform: translateX(-433px) translateY(-136px);

    outline: none;
    border: none;
    padding: 46px 3px;
    z-index: 199
}

.icon2 {
    position: absolute;
    width: 23px;
    transform: translateX(56px) translateY(-136px);
    outline: none;
    border: none;
    padding: 46px 3px;
    z-index: 199
}

.icon3 {
    position: absolute;
    width: 23px;
    transform: translateX(95px) translateY(-136px);
    outline: none;
    border: none;
    padding: 46px 3px;
    z-index: 199
}


.gmail {

    transform: translate(534px, -387px);
    font-family: sans-serif;
    color: #756e6e;
}

.images {
    transform: translate(595px, -425px);
    font-family: sans-serif;
    color: #756e6e;
}


.apps {
    width: 27px;
    transform: translate(709px, -477px);
    font-family: sans-serif;
    color: #756e6e;
}
.science{
    width: 27px;
    transform: translate(595px, -477px);
    font-family: sans-serif;
    color: #756e6e;
}
.profile {
    width: 34px;
    transform: translate(725px, -475px);
    font-family: sans-serif;
}

.plus {
    width: 35px;
    height: 34px;
    background-color:#e6e6e6;
    border-radius: 50%;
    transform: translate(137px, -97px);
}

.circle {
    width: 45px;
    transform: translate(21px, -52px);
}

.shortcut {

    font-family: sans-serif;
    color: #756e6e;
    transform: translate(110px, -110px);
}

